In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from datetime import timedelta, date

In [2]:
pitching = pd.read_csv('final_data/pitch_birthdate_final.csv',encoding='utf-8')

In [3]:
pitching

,PLAYER,ERA00,whip00,ERA01,whip01,ERA02,whip02,ERA03,whip03,ERA04,...,MLBAMID,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,Brian Anderson,4.05,111.215392,NaN,NaN,4.79,115.384615,3.78,114.604462,5.64,...,605119.0,Brian,Anderson,5/19/1993,MIA,15.0,Edmond,OK,USA,9/1/2017
1,Zack Greinke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,425844.0,Zack,Greinke,10/21/1983,HOU,21.0,Orlando,FL,USA,5/22/2004
2,Justin Verlander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,434378.0,Justin,Verlander,2/20/1983,HOU,35.0,Manakin-Sabot,VA,USA,7/4/2005
3,Cole Hamels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,430935.0,Cole,Hamels,12/27/1983,ATL,32.0,San Diego,CA,USA,5/12/2006
4,Adam Wainwright,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,425794.0,Adam,Wainwright,8/30/1981,STL,50.0,Brunswick,GA,USA,9/11/2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jeff Samardzija,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1/23/1985,NaN,NaN,Merrillville,Bolivar,Colombia,7/25/2008
195,Andrew Cashner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9/11/1986,NaN,NaN,Conroe,CA,USA,5/31/2010
196,Jose Quintana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1/24/1989,NaN,NaN,Arjona,Sonora,Mexico,5/7/2012
197,Chris Tillman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4/15/1988,NaN,NaN,Anaheim,CA,USA,7/29/2009
198,Marco Estrada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7/5/1983,NaN,NaN,Sonora,SEE COUNTRY,Mexico,8/20/2008

In [4]:
pitching.dtypes

PLAYER           object
ERA00           float64
whip00          float64
ERA01           float64
whip01          float64
ERA02           float64
whip02          float64
ERA03           float64
whip03          float64
ERA04           float64
whip04          float64
ERA05           float64
whip05          float64
ERA06           float64
whip06          float64
ERA07           float64
whip07          float64
ERA08           float64
whip08          float64
ERA09           float64
whip09          float64
ERA10           float64
whip10          float64
ERA11           float64
whip11          float64
ERA12           float64
whip12          float64
ERA13           float64
whip13          float64
ERA14           float64
whip14          float64
ERA15           float64
whip15          float64
ERA16           float64
whip16          float64
ERA17           float64
whip17          float64
ERA18           float64
whip18          float64
ERA19           float64
whip19          float64
MLBAMID         float64
FirstName        object
LastName         object
BirthDate        object
Team             object
Jersey          float64
BirthCity        object
BirthState       object
BirthCountry     object
ProDebut         object
dtype: object

In [5]:
pitching['BirthDate'] = pd.to_datetime(pitching['BirthDate'])
pitching['ProDebut'] = pd.to_datetime(pitching['ProDebut'])
pitching

,PLAYER,ERA00,whip00,ERA01,whip01,ERA02,whip02,ERA03,whip03,ERA04,...,MLBAMID,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,Brian Anderson,4.05,111.215392,NaN,NaN,4.79,115.384615,3.78,114.604462,5.64,...,605119.0,Brian,Anderson,1993-05-19,MIA,15.0,Edmond,OK,USA,2017-09-01
1,Zack Greinke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,425844.0,Zack,Greinke,1983-10-21,HOU,21.0,Orlando,FL,USA,2004-05-22
2,Justin Verlander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,434378.0,Justin,Verlander,1983-02-20,HOU,35.0,Manakin-Sabot,VA,USA,2005-07-04
3,Cole Hamels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,430935.0,Cole,Hamels,1983-12-27,ATL,32.0,San Diego,CA,USA,2006-05-12
4,Adam Wainwright,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,425794.0,Adam,Wainwright,1981-08-30,STL,50.0,Brunswick,GA,USA,2005-09-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jeff Samardzija,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1985-01-23,NaN,NaN,Merrillville,Bolivar,Colombia,2008-07-25
195,Andrew Cashner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1986-09-11,NaN,NaN,Conroe,CA,USA,2010-05-31
196,Jose Quintana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1989-01-24,NaN,NaN,Arjona,Sonora,Mexico,2012-05-07
197,Chris Tillman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1988-04-15,NaN,NaN,Anaheim,CA,USA,2009-07-29
198,Marco Estrada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1983-07-05,NaN,NaN,Sonora,SEE COUNTRY,Mexico,2008-08-20

In [6]:
def from_dob_to_age(born):
    today = datetime.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [7]:
pitching['Age'] = pitching["BirthDate"].apply(lambda x: from_dob_to_age(x))

In [19]:
pitching["AGE00"] = pitching["Age"]-20
pitching["AGE01"] = pitching["Age"]-19
pitching["AGE02"] = pitching["Age"]-18
pitching["AGE03"] = pitching["Age"]-17
pitching["AGE04"] = pitching["Age"]-16
pitching["AGE05"] = pitching["Age"]-15
pitching["AGE06"] = pitching["Age"]-14
pitching["AGE07"] = pitching["Age"]-13
pitching["AGE08"] = pitching["Age"]-12
pitching["AGE09"] = pitching["Age"]-11
pitching["AGE10"] = pitching["Age"]-10
pitching["AGE11"] = pitching["Age"]-9
pitching["AGE12"] = pitching["Age"]-8
pitching["AGE13"] = pitching["Age"]-7
pitching["AGE14"] = pitching["Age"]-6
pitching["AGE15"] = pitching["Age"]-5
pitching["AGE16"] = pitching["Age"]-4
pitching["AGE17"] = pitching["Age"]-3
pitching["AGE18"] = pitching["Age"]-2
pitching["AGE19"] = pitching["Age"]-1

In [20]:
pitching

,PLAYER,ERA00,whip00,ERA01,whip01,ERA02,whip02,ERA03,whip03,ERA04,...,AGE10,AGE11,AGE12,AGE13,AGE14,AGE15,AGE16,AGE17,AGE18,AGE19
0,Brian Anderson,4.05,111.215392,NaN,NaN,4.79,115.384615,3.78,114.604462,5.64,...,17,18,19,20,21,22,23,24,25,26
1,Zack Greinke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26,27,28,29,30,31,32,33,34,35
2,Justin Verlander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27,28,29,30,31,32,33,34,35,36
3,Cole Hamels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26,27,28,29,30,31,32,33,34,35
4,Adam Wainwright,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29,30,31,32,33,34,35,36,37,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jeff Samardzija,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25,26,27,28,29,30,31,32,33,34
195,Andrew Cashner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24,25,26,27,28,29,30,31,32,33
196,Jose Quintana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21,22,23,24,25,26,27,28,29,30
197,Chris Tillman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22,23,24,25,26,27,28,29,30,31
198,Marco Estrada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27,28,29,30,31,32,33,34,35,36

In [21]:
pitching.to_csv('final_data/FINAL_pitching_age.csv')

In [9]:
batting = pd.read_csv('final_data/bat_birthdate_final.csv',encoding='utf-8')

In [10]:
batting.dtypes

PLAYER           object
BA00            float64
BA01            float64
BA02            float64
BA03            float64
BA04            float64
BA05            float64
BA06            float64
BA07            float64
BA08            float64
BA09            float64
BA10            float64
BA11            float64
BA12            float64
BA13            float64
BA14            float64
BA15            float64
BA16            float64
BA17            float64
BA18            float64
BA19            float64
MLBAMID         float64
FirstName        object
LastName         object
BirthDate        object
Team             object
Jersey          float64
BirthCity        object
BirthState       object
BirthCountry     object
ProDebut         object
dtype: object

In [11]:
batting['BirthDate'] = pd.to_datetime(batting['BirthDate'])
batting['ProDebut'] = pd.to_datetime(batting['ProDebut'])

In [12]:
batting

,PLAYER,BA00,BA01,BA02,BA03,BA04,BA05,BA06,BA07,BA08,...,MLBAMID,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,Dave Roberts,NaN,NaN,0.277,0.250,0.254,0.275,0.293,0.260,NaN,...,NaN,NaN,NaN,1972-05-31,NaN,NaN,Panama,Panama,Panama,1999-08-07
1,Ramon Hernandez,0.241,0.254,0.233,0.273,0.276,0.290,0.275,0.258,0.257,...,NaN,NaN,NaN,1976-05-20,NaN,NaN,Carolina,SEE BIRTH COUNTRY,Puerto Rico,1999-06-29
2,Bernie Williams,0.307,0.307,0.333,0.263,0.262,0.249,0.281,NaN,NaN,...,NaN,NaN,NaN,1968-09-13,NaN,NaN,Alameda,CA,USA,1991-07-07
3,Reggie Sanders,0.232,0.263,0.250,0.285,0.260,0.271,0.246,NaN,NaN,...,NaN,NaN,NaN,1967-12-01,NaN,NaN,Birmingham,AL,USA,1991-08-22
4,Brian Giles,0.315,0.309,0.298,0.299,0.284,0.301,0.263,0.271,0.306,...,NaN,NaN,NaN,1960-04-27,NaN,NaN,Manhattan,KS,USA,1981-09-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Carlos Correa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,621043.0,Carlos,Correa,1994-09-22,HOU,1.0,Ponce,SEE BIRTH COUNTRY,Puerto Rico,2015-06-08
596,Matt Kemp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.342,0.290,...,461314.0,Matt,Kemp,1984-09-23,COL,25.0,Midwest City,OK,USA,2006-05-28
597,Jedd Gyorko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,576397.0,Jedd,Gyorko,1988-09-23,MIL,5.0,Morgantown,WV,USA,2013-04-01
598,Ryan Zimmerman,NaN,NaN,NaN,NaN,NaN,NaN,0.287,0.266,0.283,...,475582.0,Ryan,Zimmerman,1984-09-28,WSH,11.0,Washington,NC,USA,2005-09-01
599,Eddie Rosario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592696.0,Eddie,Rosario,1991-09-28,MIN,20.0,Guayama,SEE BIRTH COUNTRY,Puerto Rico,2015-05-06

In [13]:
batting['Age'] = batting["BirthDate"].apply(lambda x: from_dob_to_age(x))

In [14]:
batting

,PLAYER,BA00,BA01,BA02,BA03,BA04,BA05,BA06,BA07,BA08,...,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut,Age
0,Dave Roberts,NaN,NaN,0.277,0.250,0.254,0.275,0.293,0.260,NaN,...,NaN,NaN,1972-05-31,NaN,NaN,Panama,Panama,Panama,1999-08-07,48
1,Ramon Hernandez,0.241,0.254,0.233,0.273,0.276,0.290,0.275,0.258,0.257,...,NaN,NaN,1976-05-20,NaN,NaN,Carolina,SEE BIRTH COUNTRY,Puerto Rico,1999-06-29,44
2,Bernie Williams,0.307,0.307,0.333,0.263,0.262,0.249,0.281,NaN,NaN,...,NaN,NaN,1968-09-13,NaN,NaN,Alameda,CA,USA,1991-07-07,52
3,Reggie Sanders,0.232,0.263,0.250,0.285,0.260,0.271,0.246,NaN,NaN,...,NaN,NaN,1967-12-01,NaN,NaN,Birmingham,AL,USA,1991-08-22,52
4,Brian Giles,0.315,0.309,0.298,0.299,0.284,0.301,0.263,0.271,0.306,...,NaN,NaN,1960-04-27,NaN,NaN,Manhattan,KS,USA,1981-09-12,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Carlos Correa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Carlos,Correa,1994-09-22,HOU,1.0,Ponce,SEE BIRTH COUNTRY,Puerto Rico,2015-06-08,26
596,Matt Kemp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.342,0.290,...,Matt,Kemp,1984-09-23,COL,25.0,Midwest City,OK,USA,2006-05-28,36
597,Jedd Gyorko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Jedd,Gyorko,1988-09-23,MIL,5.0,Morgantown,WV,USA,2013-04-01,32
598,Ryan Zimmerman,NaN,NaN,NaN,NaN,NaN,NaN,0.287,0.266,0.283,...,Ryan,Zimmerman,1984-09-28,WSH,11.0,Washington,NC,USA,2005-09-01,36
599,Eddie Rosario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Eddie,Rosario,1991-09-28,MIN,20.0,Guayama,SEE BIRTH COUNTRY,Puerto Rico,2015-05-06,29

In [17]:
batting["AGE00"] = batting["Age"]-20
batting["AGE01"] = batting["Age"]-19
batting["AGE02"] = batting["Age"]-18
batting["AGE03"] = batting["Age"]-17
batting["AGE04"] = batting["Age"]-16
batting["AGE05"] = batting["Age"]-15
batting["AGE06"] = batting["Age"]-14
batting["AGE07"] = batting["Age"]-13
batting["AGE08"] = batting["Age"]-12
batting["AGE09"] = batting["Age"]-11
batting["AGE10"] = batting["Age"]-10
batting["AGE11"] = batting["Age"]-9
batting["AGE12"] = batting["Age"]-8
batting["AGE13"] = batting["Age"]-7
batting["AGE14"] = batting["Age"]-6
batting["AGE15"] = batting["Age"]-5
batting["AGE16"] = batting["Age"]-4
batting["AGE17"] = batting["Age"]-3
batting["AGE18"] = batting["Age"]-2
batting["AGE19"] = batting["Age"]-1

In [18]:
batting

,PLAYER,BA00,BA01,BA02,BA03,BA04,BA05,BA06,BA07,BA08,...,AGE10,AGE11,AGE12,AGE13,AGE14,AGE15,AGE16,AGE17,AGE18,AGE19
0,Dave Roberts,NaN,NaN,0.277,0.250,0.254,0.275,0.293,0.260,NaN,...,38,39,40,41,42,43,44,45,46,47
1,Ramon Hernandez,0.241,0.254,0.233,0.273,0.276,0.290,0.275,0.258,0.257,...,34,35,36,37,38,39,40,41,42,43
2,Bernie Williams,0.307,0.307,0.333,0.263,0.262,0.249,0.281,NaN,NaN,...,42,43,44,45,46,47,48,49,50,51
3,Reggie Sanders,0.232,0.263,0.250,0.285,0.260,0.271,0.246,NaN,NaN,...,42,43,44,45,46,47,48,49,50,51
4,Brian Giles,0.315,0.309,0.298,0.299,0.284,0.301,0.263,0.271,0.306,...,50,51,52,53,54,55,56,57,58,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Carlos Correa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16,17,18,19,20,21,22,23,24,25
596,Matt Kemp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.342,0.290,...,26,27,28,29,30,31,32,33,34,35
597,Jedd Gyorko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22,23,24,25,26,27,28,29,30,31
598,Ryan Zimmerman,NaN,NaN,NaN,NaN,NaN,NaN,0.287,0.266,0.283,...,26,27,28,29,30,31,32,33,34,35
599,Eddie Rosario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19,20,21,22,23,24,25,26,27,28

In [22]:
batting.to_csv('final_data/FINAL_batting_age.csv')